<div class="grid  grid-3-cols@tablet-wide">
  <div>

    <div class="card  card--event  card--maroon">
      <figure class="card__figure">
        <img src="https://placeimg.com/720/360" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">28</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--pink">
      <figure class="card__figure">
        <img src="https://placeimg.com/720/360" alt=""/>
      </figure>

      <div class="card__date">
        <span class="card__day">23</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight"><a href="" class="">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--event  card--red">
      <div class="card__date">
        <span class="card__day">30</span>
        <span class="card__month">September</span>
      </div>

      <div class="card__content">
        <div class="title">
          <h2 class="h6  title__highlight">{{ placeholderHeadline2 }}</a></h2>
        </div>
        <p>{{ placeholderPara1 }}</p>
      </div>
    </div>
  </div>
</div>