<div class="card  card--flex  card--maroon">
  <figure class="card__figure">
    <img src="https://placeimg.com/720/360" alt=""/>
  </figure>

  <div class="card__content">
    <h3 class="h5 card__title"><a href="" class="">{{ placeholderHeadline2 }}</a></h3>
    <p>{{ placeholderPara1 }}</p>
  </div>
</div>

<div class="card  card--flex  card--pink">
  <figure class="card__figure">
    <img src="https://placeimg.com/720/360" alt=""/>
  </figure>

  <div class="card__content">
    <h3 class="h5  card__title"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h3>
    <p>{{ placeholderPara1 }}</p>
  </div>
</div>

<div class="card  card--flex  card--red" href="">
  <div class="card__content">
    <h3 class="h5  card__title">
      <a href="#" class="link--stretched">Card Title (with <code>link--stretched</code>)</a>
    </h3>
    <p>Example without a figure image</p>
    <p>{{ placeholderPara1 }}</p>
  </div>
</div>