{% include '@meganav' %}
<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      <img src="{{ ('/img/masthead' ~ random(9) ~ '.jpg') | path }}"/>
    </div>
    <div class="wrap">
      {% include '@breadcrumbs' %}
      {% include '@title' with {
        text: 'Events',
        modifiers: ['has-tail'],
        textElement: 'div',
        textElementStyle: 'h1',
        animate: true
      } %}
    </div>
  </div>
</div>

<main id="main-content" role="main" class="">

  <div class="slab">
    <div class="wrap">

      <header class="section-header  section-header--border-bottom">
        <div class="title  title--has-tail  js-waypoint">
          <h1 class="h2  title__highlight">Teach the nation to code: Stoke-on-Trent</h1>
        </div>
      </header>

      <div class="grid  grid--spaced">
        <div class="col-3/4@desktop">

          <div class="grid  grid--spaced">
            <div class="col-1/3@tablet">
              <div class="card  margin-bottom-2xl">
                <div class="card__content">
                  <ul class="list--icon-bullets">
                    <li><i class="icon  icon--calendar"></i><strong>Saturday 25 January 2020</strong></li>
                    <li><i class="icon  icon--clock"></i>10.30am - 4pm</strong></li>

                    <li><i class="icon  icon--pin"></i>Room T101<br/>
                      Beacon Building<br/>
                      Staffordshire University<br/>
                      College Road,<br/>
                      Stoke-on-Trent<br/>
                      ST4 2DE
                    </li>

                    <li><i class="icon  icon--pricetag"></i>FREE EVENT</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-2/3@tablet">
              <div class="margin-bottom-4xl">
                <p class="intro">Staffordshire University is going global with a programme packed full of free events to start the new decade.</p>
                <p>The spring calendar showcases the University’s worldwide impact, with the return of the popular ‘Profs in the Pav’ talks, commemorative events, plus a range of exciting lectures from academics and public figures.</p>

                <h2 class="h6">Who should attend?</h2>

                <p>2020 marks the International Year of the Nurse and Midwife, and Staffordshire University is joining colleagues across the globe to shine a spotlight on the sector. Celebrations kick off with a talk this week by Visiting
                  Professor Ann-Marie Cannaby, Chief Nurse at the Royal Wolverhampton Hospital, at the University’s Centre of Excellence in Healthcare Education, Stafford.Two hundred years may have passed since the birth of Florence
                  Nightingale, but patient care and safety remain the most important influencing factors within the fields of nursing and midwifery. Professor Cannaby will use her keynote presentation to explore curriculum developments.</p>

                <div class="box  box--bg-slate  margin-y-2xl">
                  <div class="box__content">
                    <p>Hands-on workshops delivered by expert coding trainers - bring your own laptop and charger</p>
                  </div>
                </div>

                <p>By the end of the session you will:</p>
                <ul>
                  <li>Have made a list</li>
                  <li>Have checked it twice</li>
                  <li>Have found out in an unparallelled level of detail and complexity who is naughty, and who is nice</li>
                  <li>Have decided who to give presents to</li>
                  <li>Have come to town</li>
                </ul>

                <p>On Monday 27 January a special event will mark Holocaust Memorial Day, with members of the Staffordshire University community sharing their experiences of visiting Srebrenica, where genocide occurred during the Bosnian
                  War in 1995. The same week, on Thursday 30 January, firearms expert Dr Rachel Bolton-King will deliver a lecture about her Churchill Fellowship travels to South Africa, USA and France.</p>

                <h2 class="h6">Other Highlights</h2>
                <p>Other highlights include a public lecture from broadcaster and wheelchair basketball player Ade Adepitan MBE, which will take place on Tuesday 25 February. From surviving polio as a child to winning a bronze medal at the
                  2004 Summer Paralympics in Athens and a gold medal at the 2005 Paralympic World Cup in Manchester, Ade will share the ambitious and inspirational story of how he became a global campaigner against racism and disability
                  discrimination.</p>

                <p>James Morgan, Head of Communications at Staffordshire University, said:</p>


                <div class="card  card--pullquote  card--maroon">
                  <div class="card__content">
                    <blockquote>
                      <q class="blockquote__highlight">This series of events celebrates the impact that our Connected University is making, not only within our local communities but also on a global level.</q>
                    </blockquote>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="col-1/4@desktop">
          <div class="grid  grid--spaced  grid-2-cols@mobile-wide">

            <div class="col-full@desktop">
              <p><a href="" class="button  button--block">Book Now</a></p>

              <div class="box  box--bg-offwhite  box--padded">
                <h3 class="h5 box__title">Media enquiries</h3>

                <ul class="list--icon-bullets">
                  <li><a href=""><i class="icon  icon--envelope"></i>comms@staffs.ac.uk</a></li>
                  <li><a href=""><i class="icon  icon--phone"></i>+44 7900 123456</a></li>
                  <li><a href=""><i class="icon  icon--twitter"></i>StaffsUniNews</a></li>
                  <li><a href=""><i class="icon  icon--twitter"></i>PressOffice</a></li>
                </ul>
              </div>
            </div>

            <div class="col-full@desktop">
              <div class="banner">
                <div class="banner__bg  banner__bg--blurred">
                  <img src="https://picsum.photos/400/400?random=1">
                </div>

                <div class="banner__body">
                  <div class="hgroup">
                    <div class="title">
                      <div class="h4  title__highlight">Undergraduate Open Day</div>
                    </div>
                  </div>

                  <div class="banner__cta">
                    <a href="" class="button">Book an open day</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      <header class="section-header  section-header--border-bottom">
        <div class="title  title--has-tail  js-waypoint">
          <h2 class="title__highlight">Upcoming Events</h2>
        </div>
      </header>

      <div class="grid  grid-3-cols@tablet-wide">
        <div>

          <div class="card  card--flex  card--event">
            <figure class="card__figure">
              <img src="https://picsum.photos/720/360?random=2" alt=""/>
            </figure>

            <div class="card__date">
              <span class="card__day">28</span>
              <span class="card__month">September</span>
            </div>

            <div class="card__content">
              <div class="title">
                <h2 class="h6  title__highlight"><a href="" class="">{{ placeholderHeadline2 }}</a></h2>
              </div>
              <p>{{ placeholderPara1 }}</p>
            </div>
          </div>
        </div>

        <div>
          <div class="card  card--flex  card--event  card--pink">
            <figure class="card__figure">
              <img src="https://picsum.photos/720/360?random=3" alt=""/>
            </figure>

            <div class="card__date">
              <span class="card__day">23</span>
              <span class="card__month">September</span>
            </div>

            <div class="card__content">
              <div class="title">
                <h2 class="h6  title__highlight"><a href="" class="">{{ placeholderHeadline2 }}</a></h2>
              </div>
              <p>{{ placeholderPara1 }}</p>
            </div>
          </div>
        </div>

        <div>
          <div class="card  card--flex  card--event  card--red">
            <div class="card__date">
              <span class="card__day">30</span>
              <span class="card__month">September</span>
            </div>

            <div class="card__content">
              <div class="title">
                <h2 class="h6  title__highlight"><a href="" class="">{{ placeholderHeadline2 }}</a></h2>
              </div>
              <p>{{ placeholderPara1 }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <a href="" class="button">View all events</a>
      </div>
    </div>
  </div>
</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}