{% include '@meganav' %}
{% include '@masthead' %}

<main id="main-content" role="main" class="">

  <div class="wrap">

    <h1>This is an h1</h1>
    <p class="intro">{{ loremShort }}</p>
    <p>{{ loremLong }}</p>
    <h2>This is an h2</h2>
    <p>{{ loremLong }}</p>
    <h3>This is an h3</h3>
    <p>{{ loremLong }}</p>
    <h4>This is an h4</h4>
    <p>{{ loremLong }}</p>
    <h5>This is an h5</h5>
    <p>{{ loremLong }}</p>
    <h6>This is an h6</h6>
    <p>{{ loremLong }}</p>

  </div>

</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}